p, a, ol, ul, h1, h2, h3, h4, h5{color: #ffffff;
    opacity: 50%;}
    img{opacity: 70%;}
    
    .stupid {
        background: rgba(12, 4, 42, 0.25);
        padding: 10px;
        opacity: 70%;
      }
    
      .panic {
        background: rgba(23, 4, 99, 0.25);
        padding: 10px;
      }
    
      #height{height: 1000%;}
    